Repository sashasushko/yari, changes with the labels that .github/labeler.yml gives for each.
All labels: browser-compat, macros, dependencies, deployer, flaw-system, github-actions, markdown, plus, plus:offline, python

.github/labeler.yml:

browser-compat:
  - "client/src/document/ingredients/browser-compatability-table/**/*"
macros:
  - "kumascript/**/*"
dependencies:
  - "package-lock.json"
  - "**/poetry.lock"
deployer:
  - "deployer/**/*"
flaw-system:
  - "build/flaws/**/*"
github-actions:
  - ".github/workflows/**/*"
markdown:
  - "markdown/**/*"
plus:
  - "client/src/plus/**/*"
plus:offline:
  - "client/pwa/src/**/*"
  - "client/src/offline-settings/**/*"
python:
  - "**/*.py"

fix(libs/*): declare missing dependencies
  libs/env/package.json
  libs/locale-utils/package.json
  package-lock.json
Labels: dependencies

fix(deployer/aws-lambda): exclude from workspaces
  .github/workflows/aws-lambda.yml
  deployer/aws-lambda/content-origin-request/package-lock.json
  deployer/aws-lambda/content-origin-response/package-lock.json
  deployer/aws-lambda/mdn-stripe-price-ids/package-lock.json
  deployer/aws-lambda/tests/package-lock.json
  package-lock.json
  package.json
Labels: dependencies, deployer, github-actions

fixup! fix(deployer/aws-lambda): exclude from workspaces
  .github/workflows/aws-lambda.yml
Labels: github-actions

fix(deployer/aws-lambda): add tests to workspace
  .github/workflows/aws-lambda.yml
  deployer/aws-lambda/tests/package-lock.json
  package-lock.json
  package.json
Labels: dependencies, deployer, github-actions

Revert "fix(deployer/aws-lambda): add tests to workspace"
  .github/workflows/aws-lambda.yml
  deployer/aws-lambda/tests/package-lock.json
  package-lock.json
  package.json
Labels: dependencies, deployer, github-actions
